@model TaskCategory


<div class="container">
    <div asp-validation-summary="All"></div>
    <h2>Create new Category </h2>
    <form method="post" asp-controller="Category" asp-action="Create">
        <label class="form-label" asp-for="@Model.Name"> Name</label> <br />
        <input asp-for="@Model.Name" />
        <span asp-validation-for="@Model.Name" class="text-danger   "></span><br />

        <input type="submit" value="Create Category" class="btn btn-primary" />
    </form>
</div>