@model IEnumerable<TaskToGo.Models.TodoTask>

<h1>All Tasks</h1>
<table>
    <thead>
        <tr>
            <th>Task Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Name</td>
                <td>@task.Description</td>
            </tr>
        }
    </tbody>
</table>
